APP_NAME="ART GROUP Gate Visualizer"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://vorota.artgroups.kz

APP_LOCALE=ru
APP_FALLBACK_LOCALE=ru

LOG_CHANNEL=stack
LOG_LEVEL=error

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=your_db_name
DB_USERNAME=your_db_user
DB_PASSWORD=your_db_password

FILESYSTEM_DISK=public

SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync

MAIL_MAILER=smtp
MAIL_HOST=mail.artgroups.kz
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="noreply@artgroups.kz"
MAIL_FROM_NAME="ART GROUP"
